.form{
    height: 500px;
    width: 500px;
    margin-left: 35rem;
    
    & p{
        
        font-family: Rockwell,"Times New Roman",serif;
        font-size: 20px;
    }
}
.input{
    width: 300px;
    height: 25px;
    border-radius: 8px;
    // border-color: red;
}
.buttonForm{
    width: 90px;
    height: 30px;
    margin: 20px 0 0 100px;
    border-color:none;
    border-radius: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    background-color:whitesmoke;    
  }
