.container {
    margin-top: 200px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    
  }
  .formContainer {
    width: 200px;
    border-radius: 50px;
    
    
  }
  .error {
    font-size: 0.8rem;
    color: #bb0000;
  }
   
  .loginForm {
    display: flex;
    flex-direction: column;
    
  }
   
  .loginFormItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  .textTitle{
    margin-left: 100px;
    font-family: Rockwell,"Times New Roman",serif;
    color:black;
    margin-bottom: 30px;
  }
  .label{
    margin-bottom: 10px;
    font-size: 20px;
    color:black;
    font-family: Rockwell,"Times New Roman",serif;
    color:brown;
  }
  .input{
    width: 300px;
    height: 25px;
    border-radius: 8px;
    // border-color: red;
}
.buttonForm{
  width: 90px;
  height: 30px;
  margin: 12px 0 0 37px ;
  border-color:none;
  border-radius: 8px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:black;
  background-color:whitesmoke;    
}

.buttonForm:hover{
  background-color: red;
}
  