.logoutBtn {
    height: 30px;
    width: 100px;
    background-color: red;
  }
   
  .dashboardPage {
    display: flex;
     background-color: blue; 
    justify-content: center;
    background-image: "https://phantom-marca.unidadeditorial.es/d41c0d81720ef7bf7ad77dbac0735bf0/resize/1320/f/jpg/assets/multimedia/imagenes/2022/05/13/16524318752231.jpg" ;
  }
  .imageDashboard{
    /* margin-left: 100px; */
    /* width: 100% ;
    height: 100% ; */
    background-size: cover;
  }