.form{
background-color: whitesmoke;
 margin-top: 100px;
display:flex;
justify-content: center;
align-items: center;

 & input{
    margin-bottom: 0px;
 }
.buttonForm{
   
    align-items: center;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  border-color: brown;
  border-radius: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:black;
  background-color:whitesmoke;    
  margin-top: 15px;
  margin-left: 30px;
  
}
}