
.footer {
  
    display: flex;    
    min-width: 100%;
    justify-content: center;    
    background-image: transparent;
    height: 70px;
    position:fixed;
    bottom: 0;
    
    
      &__image{
           margin: 10px;
           width: 30px;
           height: 30px;
           padding-top: 20px;
           
      }     
    }
