
.footer {
  
    display: flex;    
    min-width: 100%;
    justify-content: center;    
    background-color: whitesmoke;
    height: 70px;
    box-shadow: 3px 3px olive, -1em 0 0.4em red;
    
      &__image{
           margin: 10px;
           width: 30px;
           height: 30px;
           padding-top: 20px;
      }     
    }
