@media (min-width: 501px) {
    .card-1 .info>.name{
         font-size: 35px;
    }
 }
 @media (max-width: 500px) {
     .card-1 .info>.name{
         font-size: 25px;
    }
 }
  
 .card-1{
     border: solid black 1px;
     height: 125px;
     position: relative;
     margin-bottom: 15px;
 }
 .card-1 .user{
     position: absolute;
     left: 0;
     top: 0;
     background-color: #147896;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 10%;
     height: 100%;
 }
 .card-1 img{
    margin-top: 10px;
     height: 100px;
     width: 100px;
 }
  
 .card-1 .info{
     position: absolute;
     right: 0;
     top: 0;
     width: 55%;
     height: 100%;
     padding: 10px
 }
  
 .card-1 .info>.name{    
     margin-bottom: 2px;
     color: #333333;
     font-family: 'OpenSans-Bold';
 }
 .buttons{
    margin-top: 0;
    display:flex;
    justify-content: right;
    padding: 20px;
    
 }