
*{
  text-decoration: none;
}
.App {
  text-align: center;
  // background-image: "/public/images/fondoMotogp.png";
}
body{
  background-color: black;
  // background-image: linear-gradient(to right,whitesmoke,red,black);
  // background-image: "/public/images/fondoMotogp.png";
  
}



.button{
  width: 80px;
  height: 30px;
  margin-left: 10px;
  border-color: brown;
  border-radius: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:black;
  background-color:whitesmoke;    
}
