.details{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;


    & h1{
        color:red;
        font-size: 35px;
    }
    & h2,p{
        
        font-size: 35px;
    }
    & img{
        width: 500px;
        height:500px;
        
    }
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}